@keyframes translateXLeft {
    0% { transform: translateX(20px); opacity: 0; }
    100% { transform: translateX(0); opacity: 1; }
  }
.animate-text {
    animation: translateXLeft 1s ease-out forwards;
  }

